@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: #48295b;
  color: #fff;
}

/* Fonts */

@font-face {
  font-family: Berlin-Sans-FB-Demi-Bold;
  src: url("./../../public/fonts/BerlinSansFBDemiBold.ttf") format("opentype");
}

@font-face {
  font-family: Barlow-Bold;
  src: url("./../../public/fonts/Barlow-Bold.ttf") format("opentype");
}

@font-face {
  font-family: Barlow-Light;
  src: url("./../../public/fonts/Barlow-Light.ttf") format("opentype");
}

/* Shadow */

#shadow {
  text-shadow: 0 5px 0 #48295b;
}

#shadow2 {
  text-shadow: 0 2px 0 #48295b;
}
