@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colors */

:root {
  --bg: #110915;
  --primary: #48295b;
  --secondary: #180e20;
  --accent: #ceb4de;
  --text: #f6f1f9;
}

::selection {
  background-color: var(--primary);
  color: var(--text);
}

/* Pseudo elements */

#about-top {
  position: relative;
  overflow: hidden;
}

#about-top::before {
  z-index: 10;
  content: "";
  position: absolute;
  width: 102%;
  height: 102%;
  clip-path: polygon(0 0, 0 100%, 100% 0);
  background-color: #110915e5;
}

#about-top::after {
  z-index: 10;
  content: "";
  position: absolute;
  width: 101%;
  height: 101%;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
  background-color: var(--bg);
}

#team {
  position: relative;
}

#team::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 25px;
  bottom: 0;
  left: 0;
  clip-path: polygon(0 0, 0 100%, 100% 100%);
  background-color: var(--accent);
}

#team::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 25px;
  bottom: 0;
  right: 0;
  clip-path: polygon(0 100%, 100% 0, 100% 100%);
  background-color: var(--accent);
}

.line-container::before {
  content: "";
  top: 50%;
  transform: translateY(-50%);
  width: 90%;
  height: 0.1px;
  background-color: var(--text);
}

#welcome::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(100% 0, 100% 61%, 73% 75%, 0 64%, 0 0);
  background-color: rgba(0, 0, 0, 0.411);
  z-index: -2;
}

#welcome-seperator::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  top: 50%;
  transform: translate(0, -50%);
  clip-path: polygon(
    15% 0,
    85% 0,
    100% 15%,
    100% 85%,
    85% 100%,
    15% 100%,
    0 85%,
    0 15%
  );
  background-color: var(--text);
}

#rat-examples:before {
  content: "";
  position: absolute;
  width: 24rem;
  height: 16rem;
  margin-left: 12px;
  margin-top: -12px;
  margin-bottom: 120px;
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
  background-color: var(--secondary);
  border: 2px solid var(--accent);
  border-radius: 0.375rem;
  z-index: 3;
}

#rat-examples:hover:before {
  background-color: red;
}

/* Fonts */

@font-face {
  font-family: Berlin-Sans-FB-Demi-Bold;
  src: url("./../../public/fonts/BerlinSansFBDemiBold.ttf") format("opentype");
}

@font-face {
  font-family: Barlow-Bold;
  src: url("./../../public/fonts/Barlow-Bold.ttf") format("opentype");
}

@font-face {
  font-family: Barlow-Light;
  src: url("./../../public/fonts/Barlow-Light.ttf") format("opentype");
}

/* Shadow */

#shadow {
  text-shadow: 0 5px 0 var(--primary);
}

#shadow2 {
  text-shadow: 0 2px 0 var(--primary);
}

/* Hover */

.hvr-radial-out {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--primary);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 10s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-radial-out:hover:before,
.hvr-radial-out:focus:before,
.hvr-radial-out:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}

.hvr-shadow:hover {
  box-shadow: var(--primary) 0 0 20px;
}
